*{box-sizing: border-box;}


body {
  background-image: url(backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
margin: 2%;
padding: 0px;
border:0px;
}



header{width: 100%;}

h1{
  text-align: center;
  color: white;
}


.row {width:100%; 
position: relative; }

.mainbox{  
          padding:5px;
         background-color:#0B610B;
         border: 1px solid black;
         margin: 3px;
         margin-right: 0px;

         margin-left: 1px;
         position: relative;

}

.smallbox { 
          background-color: lightgreen;
          color:#296266;
          padding: 3px;
          text-align: center;
          border: 1px solid black;
          font-size: 25px;
          font-family: sans-serif;

          float: right;
           }


.p{ background-color:#A5DF00;
    margin-top: 43px;
    
 }         


 



 @media (min-width: 992px) {
  .col-lg-4 {
    float: left;
      
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 49.752%;
  }
  .col-md-12 {
    width: 99.7%;
  }
}